* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #777676;
}

li {
  text-decoration: none;
  padding-left: 1rem;
}

button {
  padding: 5px;
  width: 100px;
  background: #777676;
  color: white;
}

img {
  width: 50px;
  margin-top: 10px;
}

main {
  color: white;
}

body {
  background: #2e2d2d;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #ffffff;
  margin:auto;
  vertical-align: auto;
}

.list {
  display: flex;
}

/* upper bar for home page posts */
.yourHome {
  display: flex;
  justify-content: space-between;
  background: #b6b1b1;
  padding: 15px;
  font-family: Georgia;
  font-size: small;
}

.feed {
  position: absolute;
  width: 100%;
  text-align:center;
  top: 175px;
  color:whitesmoke;
  font-family: Georgia;
  background: #2e2d2d;
}

/*

Login / Sign Up 

*/

.login__container {
  text-align: center;
  margin-top: 200px;
}

.welcome {
  margin-bottom: 30px;
}

.google {
  font-family: Georgia;
  margin-top: 30px;
}

.textBox {
  margin-top: 20px;
}

::placeholder{
  font-family: Georgia;
  color: lightgrey;
  font-size: 15px;
  
}

#textBox {
  display: flex;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  background: #777676;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border-color: lightgrey;
  border-style: 3px double;
}

.button {
  font-family: Georgia;
  border-radius: 8px;
  margin-top: 10px;
  border-color: lightgrey;
  border-style: 3px double;
}

.bottomRight {
  text-align: center;
  font-size: 20px;
}

.bottomRight2 {
  text-align: right;
  margin-right: 30em;
  font-size: 20px;
}

/*

Create

*/

.yourCreate {
  position: absolute;
  width: 100%;
  text-align:center;
  top: 175px;
  color:whitesmoke;
  font-family: Georgia;
  background: #2e2d2d;
  }

.main {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 200px;
}

.create__container {
  border-style: solid;
  width: 900px;
  height: 400px;
  background: white;
  color: black;
  font-family: Georgia;
}

.profile {
  display: flex;
  justify-content: space-between;
  background: #b6b1b1;
  padding: 15px;
  font-size: small;
}

.middle {
  margin-left: 250px;
}

.create__wrapper {
  display: flex;
  padding: 10px;
  font-size:smaller;
}

.bottomRight3 {
  text-align: center;
  color: white;
  font-size: 25px;
}

/*

Profile

*/

.yourProfile {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 175px;
  color: whitesmoke;
  font-family: Georgia;
}

.yourPost {
  display: flex;
  justify-content: space-between;
  background: #b6b1b1;
  padding: 15px;
  font-family: Georgia;
  font-size: small;  
}

.flex {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 70px 0;
  text-align: center;
  font-family: Georgia;
}

.post__pic {
  margin-right: 300px;
  margin-top: 70px;
  font-family: Georgia;
}

.post__cap {
  margin-top: 70px;
  font-family: Georgia;
}

/*
  
  edit
  
  */
  .yourEdit {
    position: absolute;
    width: 100%;
    text-align:center;
    top: 175px;
    color:whitesmoke;
    font-family: Georgia;
    background: #2e2d2d;
    }
    

  .main {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
  }
  
  .create__container {
    border-style: solid;
    width: 900px;
    height: 400px;
    background: white;
    color: black;
    font-family: Georgia;
  }
  
  .profileEdit {
    display: flex;
    justify-content: space-between;
    background: #b6b1b1;
    padding: 15px;
    font-size: small;
  }
  
  .middle {
    margin-left: 250px;
  }
  
  .create__wrapper {
    display: flex;
    padding: 10px;
    font-size:smaller;
  }
  
  .bottomRight3 {
    text-align: center;
    color: white;
    font-size: 25px;
  }