<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Css/style.css">
</head>

<body>
    <nav class="nav">
        <h1>**APP NAME**</h1>
        <ul>
            <li><a href="./login">Login</a> </li>
            <li><a href="./home">Home</a></li>
            <li><a href="./create">Create</a></li>
            <li><a href="./profile">Profile</a></li>
        </ul>
    </nav>
    <main class="main">
        <div class="create__container">
            <div class="profile">
                <h2>Profile Name</h2>
            </div>
            <div class="create__wrapper">
                <div class="border__right">
                    <h3>Choose a Picture From Your Day: </h3>
                </div>
                <div>
                    <h3 class="middle">Tell us about your day:</h3>
                </div>
            </div>
        </div>
    </main>
    <br>
    <h2 class="bottomRight3">Post 🠮</h2>
</body>

</html>