<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FacePalm</title>
    <link rel="stylesheet" href="/static/Css/style.css">
</head>

<body>
    <nav class="nav">
        <h1>FacePalm &#9786</h1>
        <ul>
            <ul>
                {% for key, value in nav.items() %}
                <li><a href="{{value}}">{{key}}</a></li>
                {% endfor %}
            </ul>
        </ul>
    </nav>
    <h1 class="yourCreate">Edit your post &#9786</h1>
    <main class="main">
        <div class="create__container">
            <div class="profile">
                <h2>Profile Name</h2>
            </div>
            <div class="create__wrapper">
                <div class="border__right">
                    <form action="/edit/{{post.post_id}}" method="post">
                        <textarea name="Photo" rows="1" cols="50" class="form-control" input id="createTextBox" > {{post.photo_link}} </textarea>
                      </div>
                        <textarea name ="caption" rows = "10" cols= "50" class="form-control" input id="createTextBox" > {{post.caption}} </textarea>
                </div>
            </div>
        </div>
    </main>
    <div class = "btn">
        <button type="submit" align-content="center">Submit Changes &#8658 </button>  
        </div>
     </form> 
     <div class = "btn">
         <a href="../profile">
        <button type="submit" align-content="center">Cancel Changes &#8658 </button>  
    </a>        
    </div>
    <form action="/delete/{{post.post_id}}" method="post">
    <div class = "btn">
        <a href="../delete/{{post.post_id}}">
       <button type="submit" align-content="center">Delete Post &#8658 </button>  
   </a>        
   </div>
</form>
    <br>
</body>

</html>