<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FacePalm</title>
    <link rel="stylesheet" href="/static/Css/style.css">
</head>

<body>
    <nav class="nav">
        <h1>FacePalm &#9786</h1>
        <ul>
            <li><a href="./login">Login</a> </li>
            <li><a href="./home">Home</a></li>
            <li><a href="./create">Create</a></li>
            <li><a href="./profile">Profile</a></li>
            <li><a href="./edit">Edit</a></li>
        </ul>
    </nav>
    <main class="main">
        <h1 class="feed">Your Feed &#9786</h1>
        <div class="create__container">
            <div class="yourHome">
                <h2>{{ usr.username }}</h2>
                <h2>Edit Post</h2>
            </div>
            <div class="flex">
                <div class="post__pic">
                    <h3>POST PICTURE </h3>
                </div>
                <div class="post__cap">
                    <h3>POST CAPTION</h3>
                </div>
            </div>
        </div>
        </man>
</body>

</html>