<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Css/style.css">
</head>

<body>
    <nav class="nav">
        <h1>**APP NAME**</h1>
        <ul>
            {% for key, value in nav.items() %}
            <li><a href="{{value}}">{{key}}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <main class="main">
        <div class="create__container">
            <div class="yourProfile">
                <h2>Your Profile Name</h2>
                <h2>Edit Post</h2>
            </div>
            <div class="flex">
                <div class="post__pic">
                    <h3>POST PICTURE </h3>
                </div>
                <div class="post__cap">
                    <h3>POST CAPTION</h3>
                </div>
            </div>
        </div>
        </man>
</body>

</html>