<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Css/style.css">
</head>

<body>
    <nav class="nav">
        <h1>**APP NAME**</h1>
        <ul class="list">
            <li class="noLink"><a href="login.html">Login</a> </li>
            <li><a href="home.html">Home</a></li>
            <li><a href="create.html">Create</a></li>
            <li><a href="profile.html">Profile</a></li>
        </ul>
    </nav>
    <main>
        <div class="login__container">
            <h1 class="welcome">Welcome Back</h1>
            <input type="text" placeholder="Username" class="textBox" id="textBox">
            <input type="text" placeholder="Password" class="textBox" id="textBox">
            <p class="google">⎯⎯⎯⎯ Or Login With Google ⎯⎯⎯⎯</p>
            <img src="./logo.png" alt="">
        </div>
        <div>
            <p class="bottomRight">New here? <a href="signup.html">Signup 🠮</a></p>
        </div>
    </main>
</body>

</html>