<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FacePalm</title>
    <link rel="stylesheet" href="/static/Css/style.css">
</head>

<body>
    <nav class="nav">
        <h1>FacePalm &#9786</h1>
        <ul>
            <li><a href="./login">Login</a> </li>
            <li><a href="./home">Home</a></li>
            <li><a href="./create">Create</a></li>
            <li><a href="./profile">Profile</a></li>
            <li><a href="./edit">Edit</a></li>
        </ul>
    </nav>
    <main>
        <div class="login__container">
            <h1 class="welcome">Welcome</h1>
            <form action="/signup" method="post">
                <input type="text" placeholder="Username" class="textBox" id="textBox" name="username">
                <input type="password" placeholder="Password" class="textBox" id="textBox" name="password">
                <input type="text" placeholder="Your Name" class="textBox" id="textBox" name="name">
                <button type="submit">Sign Up </button>
            </form>
        </div>
    </main>
</body>

</html>