<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FacePalm</title>
    <link rel="stylesheet" href="/static/Css/style.css">
</head>

<body>
    <nav class="nav">
        <h1>FacePalm &#9786</h1>
        <ul>
            <ul>
                {% for key, value in nav.items() %}
                <li><a href="{{value}}">{{key}}</a></li>
                {% endfor %}
            </ul>
        </ul>
    </nav>
    <main>
        <div class="login__container">
            <h1 class="welcome">Welcome &#9786</h1>
            <form action="/signup" method="post">
                <input type="text" placeholder="Username" class="textBox" id="textBox" name="username">
                <input type="password" placeholder="Password" class="textBox" id="textBox" name="password">
                <input type="text" placeholder="Your Name" class="textBox" id="textBox" name="name">
                <button type="submit">Sign Up </button>
            </form>
        </div>
    </main>
</body>

</html>