<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Css/style.css">
</head>

<body>
    <nav class="nav">
        <h1>**APP NAME**</h1>
        <ul>
            {% for key, value in nav.items() %}
            <li><a href="{{value}}">{{key}}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <main>
        <div class="login__container">
            <h1 class="welcome">Welcome</h1>
            <form action="/signup" method="post">
                <input type="text" placeholder="Username" class="textBox" id="textBox" name="username">
                <input type="password" placeholder="Password" class="textBox" id="textBox" name="password">
                <input type="text" placeholder="Your Name" class="textBox" id="textBox" name="name">
                <button type="submit">Sign Up 🠮</button>
            </form>
            <p class="google">⎯⎯⎯⎯ Or Login With Google ⎯⎯⎯⎯</p>
            <img src="./logo.png" alt="">
        </div>
    </main>
</body>

</html>